---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  profile: {
    name: string;
    description: string;
  };
  badges: {
    text: string;
    icon: string;
    color: string;
  }[];
}

const { title, description, profile, badges } = Astro.props;
---

<div
  class="group relative col-span-6 flex flex-col gap-4 overflow-hidden rounded-2xl border border-[var(--color-slate-700)] bg-[var(--color-light-navy)] p-8 backdrop-blur-xl transition-all duration-300 hover:-translate-y-2 hover:border-[var(--color-electric-blue)] md:col-span-3 md:row-span-2"
>
  <div
    class="absolute -top-10 -right-10 h-64 w-64 rounded-full bg-[var(--color-electric-blue)]/10 blur-3xl transition-all duration-500 group-hover:bg-[var(--color-electric-blue)]/20"
  >
  </div>

  <div
    class="absolute top-2 right-2 opacity-5 transition-transform duration-500 group-hover:rotate-12 group-hover:opacity-10"
  >
    <Icon
      name="lucide:lightbulb"
      class="h-48 w-48 text-[var(--color-cyber-teal)]"
    />
  </div>
  <div>
    <Icon
      name="lucide:lightbulb"
      class="h-8 w-8 text-[var(--color-cyber-teal)]"
    />
    <h3 class="mt-4 text-2xl font-semibold text-[var(--color-text-main)]">
      {title}
    </h3>
    <p
      class="mt-4 max-w-sm text-sm leading-relaxed text-[var(--color-text-muted)]"
    >
      {description}
    </p>
  </div>
  <div
    class="grid items-center gap-5 rounded-2xl border border-[var(--color-slate-700)] bg-[var(--color-midnight-slate)]/50 p-6 backdrop-blur-xl md:grid-cols-4"
  >
    <!-- Profile Image -->
    <div class="col-span-4 md:col-span-1">
      <img
        src="/images/profile.jpg"
        alt="profile"
        class="h-full w-full rounded-xl border border-[var(--color-slate-700)] object-cover"
      />
    </div>
    <div class="col-span-4 md:col-span-3">
      <p class="text-lg font-semibold text-[var(--color-text-main)]">
        {profile.name}
      </p>
      <p class="text-sm leading-relaxed text-[var(--color-text-muted)]">
        {profile.description}
      </p>
    </div>

    <!-- Badge Wrapper -->
    <div class="col-span-4 flex flex-wrap gap-2">
      {
        badges.map((badge) => (
          <span
            class={`inline-flex items-center gap-2 rounded-full border border-${badge.color}-400/30 bg-${badge.color}-500/10 px-3 py-1 text-xs font-medium text-${badge.color}-300 backdrop-blur-md`}
          >
            <Icon name={badge.icon} class="h-4 w-4" />
            {badge.text}
          </span>
        ))
      }
    </div>
  </div>
</div>
